
<br><br>

<div class="container-fluid text-center mb-5">
    <h1 class="h2 mb-3 font-weight-normal" style="text-decoration:underline;">Login As</h1>
</div>
<div class="container-fluid text-light text-center">
    <a class="btn btn-primary m-2" href="/teacher_login">Login as Teacher</a> 
    <a class="btn btn-primary m-2" href="/login">Login as Student</a>
</div>
    