
    <section class="container my-2 w-50 text-dark p-2">
        <div class="container">
            <form action="/login" method="POST">
                <h1 class="h3 mb-3 font-weight-normal" style="text-decoration:underline;">
                 Student Login
                </h1>
                <br>
                <div class="mb-3">
                    <label for="roll" class="form-label">Roll no:</label>
                    <input type="number" min="1" class="form-control" id="roll" name="roll" oninput="validity.valid||(value='');" >
                </div>
                
                <div class="mb-3 datepicker">
                    <!--<div class="form-outline datepicker">-->
                    <label for="dob" class="form-label">Date Of Birth</label>
                    <input type="date" name="dob" class="form-control" id="dob" />
                    
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
    