<div class="container-fluid text-center py-3" style="background-color:#B1D8B7; border-style:solid;border-color:#94C973;">

    <h1 class="display-3" style="word-spacing:20px; ">RESULT MANAGEMENT SYSTEM</h1>

</div>