
    <section class="container my-2 w-50 text-dark p-2">
        <div class="container">
            <form action="student_registration" method="POST">
                <div class="mb-3">
                    <label for="roll" class="form-label">Roll no:</label>
                    <input type="number" class="form-control" id="roll" name="roll" >
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3 datepicker">
                    <!--<div class="form-outline datepicker">-->
                    <label for="dob" class="form-label">Date Of Birth</label>
                    <input type="date" name="dob" class="form-control" id="dob" />
                    
                </div>
                <div class="mb-3">
                    <label for="score" class="form-label">Score:</label>
                    <input type="number" class="form-control" id="roll" name="score" >
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
    